Upkeep_v3/Upkeep_v3/Web References/CocktailWorld_Service/CocktailWorld_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CategoryMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Category_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Category_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Category_Alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CategoryMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchCategorySizeLinkup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Category_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchCategorySizeLinkupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchCategorySizeLinkupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BrandMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Brand_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Category_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SubCategory_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Brand_Desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Strength" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Purchase_Rate_Peg" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Selling_Rate_Peg" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Selling_Rate_Bottle" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Is_Disabled" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BrandMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BrandMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SizeMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Size_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Size_Desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Size_Alias" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SizeMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SizeMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CategoryMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:CategoryMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="CategoryMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:CategoryMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="FetchCategorySizeLinkupSoapIn">
    <wsdl:part name="parameters" element="tns:FetchCategorySizeLinkup" />
  </wsdl:message>
  <wsdl:message name="FetchCategorySizeLinkupSoapOut">
    <wsdl:part name="parameters" element="tns:FetchCategorySizeLinkupResponse" />
  </wsdl:message>
  <wsdl:message name="BrandMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:BrandMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="BrandMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:BrandMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="SizeMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:SizeMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="SizeMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:SizeMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:portType name="CocktailWorld_ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CategoryMaster_CRUD">
      <wsdl:input message="tns:CategoryMaster_CRUDSoapIn" />
      <wsdl:output message="tns:CategoryMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchCategorySizeLinkup">
      <wsdl:input message="tns:FetchCategorySizeLinkupSoapIn" />
      <wsdl:output message="tns:FetchCategorySizeLinkupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BrandMaster_CRUD">
      <wsdl:input message="tns:BrandMaster_CRUDSoapIn" />
      <wsdl:output message="tns:BrandMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SizeMaster_CRUD">
      <wsdl:input message="tns:SizeMaster_CRUDSoapIn" />
      <wsdl:output message="tns:SizeMaster_CRUDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CocktailWorld_ServiceSoap" type="tns:CocktailWorld_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoryMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/CategoryMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCategorySizeLinkup">
      <soap:operation soapAction="http://tempuri.org/FetchCategorySizeLinkup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BrandMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/BrandMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SizeMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/SizeMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CocktailWorld_ServiceSoap12" type="tns:CocktailWorld_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoryMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/CategoryMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCategorySizeLinkup">
      <soap12:operation soapAction="http://tempuri.org/FetchCategorySizeLinkup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BrandMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/BrandMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SizeMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/SizeMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CocktailWorld_Service">
    <wsdl:port name="CocktailWorld_ServiceSoap" binding="tns:CocktailWorld_ServiceSoap">
      <soap:address location="http://localhost:60461/CocktailWorld_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="CocktailWorld_ServiceSoap12" binding="tns:CocktailWorld_ServiceSoap12">
      <soap12:address location="http://localhost:60461/CocktailWorld_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>