Upkeep_v3/Upkeep_v3/Web References/CocktailWorld_Service/CocktailWorld_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchTaxDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Brand_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchTaxDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchTaxDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BrandOpeningMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BrandOpening_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CategoryDetails" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BrandID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="closingBottle" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="closingSpeg" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BrandOpeningMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BrandOpeningMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Supplier_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TP_No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Invoice_No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Purchase_Date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Other_Charges" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Discount_Percentage" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="License_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PurchaseMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Transfer_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TransferDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TP_No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Invoice_No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FL_IV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Is_Show_Excise" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Trasnfer_To_LicenseID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="License_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransferMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseDetailsMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Purchase_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Brand_Opening_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Brand_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Size_Desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Bottle_Qty" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Bottle_Rate" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Speg_Qty" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Speg_Rate" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Free_Qty" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="No_Of_Boxes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Batch_No" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Mfg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tax_Type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Tax_Amt" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Total_Amt" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="License_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchaseDetailsMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PurchaseDetailsMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferDetailsMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Transfer_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Transfer_Against" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TP_No" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Brand_Opening_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MfgDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Boxes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BatchNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Speg_Qty" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Speg_Rate" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Bottle_Qty" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Bottle_Rate" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="License_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Created_By" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Created_Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferDetailsMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransferDetailsMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaleDetailsMaster_Crud">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Sale_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SaleDetail_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Brand_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Size_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cocktail_Desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Opening_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TaxType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Bottle_Qty" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Bottle_Rate" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="SPeg_Qty" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="SPeg_Rate" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="LPeg_Qty" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="LPeg_Rate" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Permit_Holder" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="License_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LoggedInUser" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaleDetailsMaster_CrudResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaleDetailsMaster_CrudResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaleMaster_Crud">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Sale_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bill_No" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="license" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LoggedInUser" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaleMaster_CrudResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaleMaster_CrudResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CategoryMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Category_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Category_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Category_Alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CategoryMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fetch_Category_Brand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fetch_Category_BrandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Fetch_Category_BrandResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fetch_Brand_Opening">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Cat_Size_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Opening_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BrandID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Brand_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cocktail_Desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fetch_Brand_OpeningResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Fetch_Brand_OpeningResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchCategorySizeLinkup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Category_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchCategorySizeLinkupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchCategorySizeLinkupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CocktailMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Cocktail_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Category_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CocktailMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CocktailMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CocktailBrandsMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Cocktail_Brand_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Cocktail_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Brand_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Pegml" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CocktailBrandsMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CocktailBrandsMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchBrandSizeLinkup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Category_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Brand_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Size_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Brand_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Size_Desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchBrandSizeLinkupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchBrandSizeLinkupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BrandMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Brand_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Category_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SubCategory_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Brand_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Brand_Short_Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Strength" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Purchase_Rate_Peg" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Selling_Rate_Peg" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Selling_Rate_Bottle" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Is_Disabled" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BrandMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BrandMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SizeMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Size_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Size_Desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Size_Alias" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SizeMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SizeMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubCategoryMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubCategory_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Category_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SubCategory_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubCategoryMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubCategoryMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PermitMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Permit_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Permit_Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PermitMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PermitMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Save_CategorySizeLinkup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CategoryDetails" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LicenseID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Save_CategorySizeLinkupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Save_CategorySizeLinkupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Save_BrandOpening">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Opening_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CategoryDetails" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BrandID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Operation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Save_BrandOpeningResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Save_BrandOpeningResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="License_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LicenseID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="License_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="License_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupplierMaster_CRUD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Supplier_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SupplierName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pincode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoggedInUserID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Company_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupplierMaster_CRUDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SupplierMaster_CRUDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fetch_Test_Dataset_RDLC">
        <s:complexType />
      </s:element>
      <s:element name="Fetch_Test_Dataset_RDLCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Fetch_Test_Dataset_RDLCResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="FetchTaxDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:FetchTaxDetails" />
  </wsdl:message>
  <wsdl:message name="FetchTaxDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:FetchTaxDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="BrandOpeningMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:BrandOpeningMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="BrandOpeningMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:BrandOpeningMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="PurchaseMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:PurchaseMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="PurchaseMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:PurchaseMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="TransferMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:TransferMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="TransferMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:TransferMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="PurchaseDetailsMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:PurchaseDetailsMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="PurchaseDetailsMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:PurchaseDetailsMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="TransferDetailsMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:TransferDetailsMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="TransferDetailsMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:TransferDetailsMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="SaleDetailsMaster_CrudSoapIn">
    <wsdl:part name="parameters" element="tns:SaleDetailsMaster_Crud" />
  </wsdl:message>
  <wsdl:message name="SaleDetailsMaster_CrudSoapOut">
    <wsdl:part name="parameters" element="tns:SaleDetailsMaster_CrudResponse" />
  </wsdl:message>
  <wsdl:message name="SaleMaster_CrudSoapIn">
    <wsdl:part name="parameters" element="tns:SaleMaster_Crud" />
  </wsdl:message>
  <wsdl:message name="SaleMaster_CrudSoapOut">
    <wsdl:part name="parameters" element="tns:SaleMaster_CrudResponse" />
  </wsdl:message>
  <wsdl:message name="CategoryMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:CategoryMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="CategoryMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:CategoryMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="Fetch_Category_BrandSoapIn">
    <wsdl:part name="parameters" element="tns:Fetch_Category_Brand" />
  </wsdl:message>
  <wsdl:message name="Fetch_Category_BrandSoapOut">
    <wsdl:part name="parameters" element="tns:Fetch_Category_BrandResponse" />
  </wsdl:message>
  <wsdl:message name="Fetch_Brand_OpeningSoapIn">
    <wsdl:part name="parameters" element="tns:Fetch_Brand_Opening" />
  </wsdl:message>
  <wsdl:message name="Fetch_Brand_OpeningSoapOut">
    <wsdl:part name="parameters" element="tns:Fetch_Brand_OpeningResponse" />
  </wsdl:message>
  <wsdl:message name="FetchCategorySizeLinkupSoapIn">
    <wsdl:part name="parameters" element="tns:FetchCategorySizeLinkup" />
  </wsdl:message>
  <wsdl:message name="FetchCategorySizeLinkupSoapOut">
    <wsdl:part name="parameters" element="tns:FetchCategorySizeLinkupResponse" />
  </wsdl:message>
  <wsdl:message name="CocktailMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:CocktailMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="CocktailMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:CocktailMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="CocktailBrandsMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:CocktailBrandsMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="CocktailBrandsMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:CocktailBrandsMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="FetchBrandSizeLinkupSoapIn">
    <wsdl:part name="parameters" element="tns:FetchBrandSizeLinkup" />
  </wsdl:message>
  <wsdl:message name="FetchBrandSizeLinkupSoapOut">
    <wsdl:part name="parameters" element="tns:FetchBrandSizeLinkupResponse" />
  </wsdl:message>
  <wsdl:message name="BrandMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:BrandMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="BrandMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:BrandMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="SizeMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:SizeMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="SizeMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:SizeMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="SubCategoryMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:SubCategoryMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="SubCategoryMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:SubCategoryMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="PermitMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:PermitMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="PermitMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:PermitMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="Save_CategorySizeLinkupSoapIn">
    <wsdl:part name="parameters" element="tns:Save_CategorySizeLinkup" />
  </wsdl:message>
  <wsdl:message name="Save_CategorySizeLinkupSoapOut">
    <wsdl:part name="parameters" element="tns:Save_CategorySizeLinkupResponse" />
  </wsdl:message>
  <wsdl:message name="Save_BrandOpeningSoapIn">
    <wsdl:part name="parameters" element="tns:Save_BrandOpening" />
  </wsdl:message>
  <wsdl:message name="Save_BrandOpeningSoapOut">
    <wsdl:part name="parameters" element="tns:Save_BrandOpeningResponse" />
  </wsdl:message>
  <wsdl:message name="License_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:License_CRUD" />
  </wsdl:message>
  <wsdl:message name="License_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:License_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="SupplierMaster_CRUDSoapIn">
    <wsdl:part name="parameters" element="tns:SupplierMaster_CRUD" />
  </wsdl:message>
  <wsdl:message name="SupplierMaster_CRUDSoapOut">
    <wsdl:part name="parameters" element="tns:SupplierMaster_CRUDResponse" />
  </wsdl:message>
  <wsdl:message name="Fetch_Test_Dataset_RDLCSoapIn">
    <wsdl:part name="parameters" element="tns:Fetch_Test_Dataset_RDLC" />
  </wsdl:message>
  <wsdl:message name="Fetch_Test_Dataset_RDLCSoapOut">
    <wsdl:part name="parameters" element="tns:Fetch_Test_Dataset_RDLCResponse" />
  </wsdl:message>
  <wsdl:portType name="CocktailWorld_ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchTaxDetails">
      <wsdl:input message="tns:FetchTaxDetailsSoapIn" />
      <wsdl:output message="tns:FetchTaxDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BrandOpeningMaster_CRUD">
      <wsdl:input message="tns:BrandOpeningMaster_CRUDSoapIn" />
      <wsdl:output message="tns:BrandOpeningMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseMaster_CRUD">
      <wsdl:input message="tns:PurchaseMaster_CRUDSoapIn" />
      <wsdl:output message="tns:PurchaseMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferMaster_CRUD">
      <wsdl:input message="tns:TransferMaster_CRUDSoapIn" />
      <wsdl:output message="tns:TransferMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseDetailsMaster_CRUD">
      <wsdl:input message="tns:PurchaseDetailsMaster_CRUDSoapIn" />
      <wsdl:output message="tns:PurchaseDetailsMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferDetailsMaster_CRUD">
      <wsdl:input message="tns:TransferDetailsMaster_CRUDSoapIn" />
      <wsdl:output message="tns:TransferDetailsMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaleDetailsMaster_Crud">
      <wsdl:input message="tns:SaleDetailsMaster_CrudSoapIn" />
      <wsdl:output message="tns:SaleDetailsMaster_CrudSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaleMaster_Crud">
      <wsdl:input message="tns:SaleMaster_CrudSoapIn" />
      <wsdl:output message="tns:SaleMaster_CrudSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CategoryMaster_CRUD">
      <wsdl:input message="tns:CategoryMaster_CRUDSoapIn" />
      <wsdl:output message="tns:CategoryMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Fetch_Category_Brand">
      <wsdl:input message="tns:Fetch_Category_BrandSoapIn" />
      <wsdl:output message="tns:Fetch_Category_BrandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Fetch_Brand_Opening">
      <wsdl:input message="tns:Fetch_Brand_OpeningSoapIn" />
      <wsdl:output message="tns:Fetch_Brand_OpeningSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchCategorySizeLinkup">
      <wsdl:input message="tns:FetchCategorySizeLinkupSoapIn" />
      <wsdl:output message="tns:FetchCategorySizeLinkupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CocktailMaster_CRUD">
      <wsdl:input message="tns:CocktailMaster_CRUDSoapIn" />
      <wsdl:output message="tns:CocktailMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CocktailBrandsMaster_CRUD">
      <wsdl:input message="tns:CocktailBrandsMaster_CRUDSoapIn" />
      <wsdl:output message="tns:CocktailBrandsMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchBrandSizeLinkup">
      <wsdl:input message="tns:FetchBrandSizeLinkupSoapIn" />
      <wsdl:output message="tns:FetchBrandSizeLinkupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BrandMaster_CRUD">
      <wsdl:input message="tns:BrandMaster_CRUDSoapIn" />
      <wsdl:output message="tns:BrandMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SizeMaster_CRUD">
      <wsdl:input message="tns:SizeMaster_CRUDSoapIn" />
      <wsdl:output message="tns:SizeMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubCategoryMaster_CRUD">
      <wsdl:input message="tns:SubCategoryMaster_CRUDSoapIn" />
      <wsdl:output message="tns:SubCategoryMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PermitMaster_CRUD">
      <wsdl:input message="tns:PermitMaster_CRUDSoapIn" />
      <wsdl:output message="tns:PermitMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Save_CategorySizeLinkup">
      <wsdl:input message="tns:Save_CategorySizeLinkupSoapIn" />
      <wsdl:output message="tns:Save_CategorySizeLinkupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Save_BrandOpening">
      <wsdl:input message="tns:Save_BrandOpeningSoapIn" />
      <wsdl:output message="tns:Save_BrandOpeningSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="License_CRUD">
      <wsdl:input message="tns:License_CRUDSoapIn" />
      <wsdl:output message="tns:License_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SupplierMaster_CRUD">
      <wsdl:input message="tns:SupplierMaster_CRUDSoapIn" />
      <wsdl:output message="tns:SupplierMaster_CRUDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Fetch_Test_Dataset_RDLC">
      <wsdl:input message="tns:Fetch_Test_Dataset_RDLCSoapIn" />
      <wsdl:output message="tns:Fetch_Test_Dataset_RDLCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CocktailWorld_ServiceSoap" type="tns:CocktailWorld_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchTaxDetails">
      <soap:operation soapAction="http://tempuri.org/FetchTaxDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BrandOpeningMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/BrandOpeningMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/PurchaseMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/TransferMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseDetailsMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/PurchaseDetailsMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferDetailsMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/TransferDetailsMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleDetailsMaster_Crud">
      <soap:operation soapAction="http://tempuri.org/SaleDetailsMaster_Crud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleMaster_Crud">
      <soap:operation soapAction="http://tempuri.org/SaleMaster_Crud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoryMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/CategoryMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fetch_Category_Brand">
      <soap:operation soapAction="http://tempuri.org/Fetch_Category_Brand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fetch_Brand_Opening">
      <soap:operation soapAction="http://tempuri.org/Fetch_Brand_Opening" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCategorySizeLinkup">
      <soap:operation soapAction="http://tempuri.org/FetchCategorySizeLinkup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CocktailMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/CocktailMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CocktailBrandsMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/CocktailBrandsMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchBrandSizeLinkup">
      <soap:operation soapAction="http://tempuri.org/FetchBrandSizeLinkup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BrandMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/BrandMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SizeMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/SizeMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubCategoryMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/SubCategoryMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PermitMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/PermitMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save_CategorySizeLinkup">
      <soap:operation soapAction="http://tempuri.org/Save_CategorySizeLinkup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save_BrandOpening">
      <soap:operation soapAction="http://tempuri.org/Save_BrandOpening" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="License_CRUD">
      <soap:operation soapAction="http://tempuri.org/License_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierMaster_CRUD">
      <soap:operation soapAction="http://tempuri.org/SupplierMaster_CRUD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fetch_Test_Dataset_RDLC">
      <soap:operation soapAction="http://tempuri.org/Fetch_Test_Dataset_RDLC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CocktailWorld_ServiceSoap12" type="tns:CocktailWorld_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchTaxDetails">
      <soap12:operation soapAction="http://tempuri.org/FetchTaxDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BrandOpeningMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/BrandOpeningMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/PurchaseMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/TransferMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseDetailsMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/PurchaseDetailsMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferDetailsMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/TransferDetailsMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleDetailsMaster_Crud">
      <soap12:operation soapAction="http://tempuri.org/SaleDetailsMaster_Crud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleMaster_Crud">
      <soap12:operation soapAction="http://tempuri.org/SaleMaster_Crud" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoryMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/CategoryMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fetch_Category_Brand">
      <soap12:operation soapAction="http://tempuri.org/Fetch_Category_Brand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fetch_Brand_Opening">
      <soap12:operation soapAction="http://tempuri.org/Fetch_Brand_Opening" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCategorySizeLinkup">
      <soap12:operation soapAction="http://tempuri.org/FetchCategorySizeLinkup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CocktailMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/CocktailMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CocktailBrandsMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/CocktailBrandsMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchBrandSizeLinkup">
      <soap12:operation soapAction="http://tempuri.org/FetchBrandSizeLinkup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BrandMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/BrandMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SizeMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/SizeMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubCategoryMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/SubCategoryMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PermitMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/PermitMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save_CategorySizeLinkup">
      <soap12:operation soapAction="http://tempuri.org/Save_CategorySizeLinkup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save_BrandOpening">
      <soap12:operation soapAction="http://tempuri.org/Save_BrandOpening" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="License_CRUD">
      <soap12:operation soapAction="http://tempuri.org/License_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierMaster_CRUD">
      <soap12:operation soapAction="http://tempuri.org/SupplierMaster_CRUD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fetch_Test_Dataset_RDLC">
      <soap12:operation soapAction="http://tempuri.org/Fetch_Test_Dataset_RDLC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CocktailWorld_Service">
    <wsdl:port name="CocktailWorld_ServiceSoap" binding="tns:CocktailWorld_ServiceSoap">
      <soap:address location="http://localhost:60461/CocktailWorld_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="CocktailWorld_ServiceSoap12" binding="tns:CocktailWorld_ServiceSoap12">
      <soap12:address location="http://localhost:60461/CocktailWorld_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>